body{

background:#0E0E0E;

color:white;

font-family:'Inter',sans-serif;

overflow-x:hidden;

width: 100%;
}
html,


#root {
  overflow-x: hidden;
}

html{

scroll-behavior:smooth;

}

::selection{

background:#C1121F;

color:white;

}