@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FFFDF8;
  color: #374151;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #F59E0B;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #F8F8F8;
}